In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
# Define our pet table
class Pet(Base):
    __tablename__ = 'pet'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    type = Column(String)
    age = Column(Integer)

In [3]:
# Right now, this table only exists in python and not in the actual database
Base.metadata.tables

FacadeDict({'pet': Table('pet', MetaData(), Column('id', Integer(), table=<pet>, primary_key=True, nullable=False), Column('name', String(), table=<pet>), Column('type', String(), table=<pet>), Column('age', Integer(), table=<pet>), schema=None)})

In [4]:
# Create our database engine
engine = create_engine('sqlite:///pets.sqlite')

In [5]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [6]:
# The ORM’s “handle” to the database is the Session.
from sqlalchemy.orm import Session
session = Session(engine)

## Create Data

In [7]:
# Note that adding to the session does not update the table. It queues up those queries.
session.add(Pet(name='Justin Timbersnake', type='snek', age=2))
session.add(Pet(name='Pawtrick Stewart', type='good boy', age=10))
session.add(Pet(name='Godzilla', type='iguana', age=1))
session.add(Pet(name='Marshmallow', type='polar bear', age=4))

In [8]:
# The data hasn't been added yet
engine.execute('select * from pet').fetchall()

[(1, 'Justin Timbersnake', 'snek', 2),
 (2, 'Pawtrick Stewart', 'good boy', 10),
 (3, 'Godzilla', 'iguana', 1),
 (5, 'Justin Timbersnake', 'snek', 2),
 (6, 'Pawtrick Stewart', 'good boy', 10),
 (7, 'Godzilla', 'iguana', 1),
 (8, 'Marshmallow', 'polar bear', 6),
 (9, 'Justin Timbersnake', 'snek', 2),
 (10, 'Pawtrick Stewart', 'good boy', 10),
 (11, 'Godzilla', 'iguana', 1),
 (12, 'Marshmallow', 'polar bear', 4),
 (13, 'Justin Timbersnake', 'snek', 2),
 (14, 'Pawtrick Stewart', 'good boy', 10),
 (15, 'Godzilla', 'iguana', 1),
 (16, 'Marshmallow', 'polar bear', 4)]

In [9]:
# We can use the new attribute to see the queue of data ready to go into the database
session.new

IdentitySet([<__main__.Pet object at 0x7fa4cdd61eb8>, <__main__.Pet object at 0x7fa4cdd61e80>, <__main__.Pet object at 0x7fa4cdd85080>, <__main__.Pet object at 0x7fa4cdd850f0>])

In [10]:
# commit() flushes whatever remaining changes remain to the database, and commits the transaction.
session.commit()

In [11]:
# Nothing new to add
session.new

IdentitySet([])

In [12]:
# query the database
session.query(Pet.name, Pet.type, Pet.age).all()

[('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 6),
 ('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 4),
 ('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 4),
 ('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 4)]

## Update Data

In [19]:
# Create a query and then run update on it
pet = session.query(Pet).filter(Pet.name == "Marshmallow").first()
pet.age += 1

In [14]:
# For modifications, we can use the dirty attribute - basically what is pending as changes.
session.dirty

IdentitySet([<__main__.Pet object at 0x7fa4cddc9358>])

In [15]:
# Commit Transaction
session.commit()

In [16]:
# Session is up-to-date
session.dirty

IdentitySet([])

In [17]:
session.query(Pet.id, Pet.name, Pet.type, Pet.age).all()

[(1, 'Justin Timbersnake', 'snek', 2),
 (2, 'Pawtrick Stewart', 'good boy', 10),
 (3, 'Godzilla', 'iguana', 1),
 (5, 'Justin Timbersnake', 'snek', 2),
 (6, 'Pawtrick Stewart', 'good boy', 10),
 (7, 'Godzilla', 'iguana', 1),
 (8, 'Marshmallow', 'polar bear', 7),
 (9, 'Justin Timbersnake', 'snek', 2),
 (10, 'Pawtrick Stewart', 'good boy', 10),
 (11, 'Godzilla', 'iguana', 1),
 (12, 'Marshmallow', 'polar bear', 4),
 (13, 'Justin Timbersnake', 'snek', 2),
 (14, 'Pawtrick Stewart', 'good boy', 10),
 (15, 'Godzilla', 'iguana', 1),
 (16, 'Marshmallow', 'polar bear', 4),
 (17, 'Justin Timbersnake', 'snek', 2),
 (18, 'Pawtrick Stewart', 'good boy', 10),
 (19, 'Godzilla', 'iguana', 1),
 (20, 'Marshmallow', 'polar bear', 4)]

## Delete Data

In [18]:
# Create a query and then delete the row collected
pet = session.query(Pet).filter_by(id=4).one()
session.delete(pet)

NoResultFound: No row was found when one was required

In [ ]:
session.deleted

In [ ]:
session.commit()

In [ ]:
session.deleted

In [ ]:
session.query(Pet.id, Pet.name, Pet.type, Pet.age).all()

In [ ]:
# Close the session
session.close()